{% load static %}
<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


       <link rel="stylesheet" type="text/css" href="{% static 'trackerApp/main.css/' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>COVID-19 TRACKER</title>
  </head>
  <body >
  <div class="back">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-inverse ">
      <div class="container-fluid">
      <a class="navbar-brand" href="#" style=" font-size: 30px">COviD-19 TRaCker </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="font-size: 25px" style="font-weight: bold;">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'news' %}">Read Top Headlines on Covid-19</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Check Out More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="{% url 'news' %}">Read Lates News</a>
              <a class="dropdown-item" href="{% url 'top10' %}">See Top-10 Effected Country</a>
              <a class="dropdown-item" href="{% url 'country_data' %}">Search For Country's Live Data</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
</ul>

</div>
<br>
</div>
</nav>
    

    


<div >
  <div class="container ">
    <h2 class="text-center align-middle">COVID-19 TRACKER </h2>
    <p class="text-justify text-center">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

    <div class="con" style="margin-top:10px">  
      <div class="row d-flex justify-content-around">
        <div class="col-md-6 col-lg-4"> 
          <div class="car" style="margin-top:10px">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">Get Global Covid-19 Cases</h5>
              <p1 class="card-text">This Page Contains the total number of COVID19 cases from all over the world</p1><br>
              <a href="{% url 'data' %}" class="btn btn-primary" style="background-color: black;">Get Live Data</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-lg-4"> 
          <div class="car">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">Latest News</h5>
              <p1 class="card-text">Read the latest news in India on COVID-19</p1><br><br>
              <a href="{% url 'news' %}" class="btn btn-primary" style="background-color: black;">Read Now</a>
            </div>
          </div>
        </div>
      


        <div class="col-md-6 col-lg-4"> 
          <div class="car">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold;">Get Live Covid-19 Status</h5>
              <p1 class="card-text">Get the live status on any country you want.</p1><br><br>
              <a href="{% url 'country_data' %}" class="btn btn-primary" style="background-color: black;">Search Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

<div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
       
      
      </div>
    </main> 
<!-- Footer -->
<div class="bottom">
<footer class="page-footer font-small teal pt-4" >

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
          repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
          harum esse fugiat. Itaque, culpa?</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
          commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
          excepturi hic.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</div >
</footer>
<!-- Footer -->
    <!-- Optional JavaScript
    <!- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script type="text/javascript">
      console.log($)
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>