{% extends 'trackerApp/base_index.html' %}

{% block scripts %}
<script>
$(document).ready(function(){
		var values = "{{countries}}";
		values.replace(/&#39;/g,"'")
		values=values.split(",")
		const v=values.map(vals=>vals.replace(/&#39;/g, ' '))
		console.log(v)

		var count = "{{value}}";
		counts = count.replace(/'/g, '"');
		counts = JSON.parse(counts)

		console.log(counts)
		var ctx = document.getElementById('myChart');
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: v,
		        datasets: [{
		            label: '# of Total Confirmed Cases ',
		            data: counts,
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)',
		                'blue',
		                'green'
		            ],
		            borderColor: [
		                'rgba(255, 99, 132, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)',
		                'blue'
		            ],
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero: true
		                }
		            }]
		        }
		    }
		});
});

</script>
{% endblock scripts %}
{% block content %}

<canvas id="myChart" width="500" height="250" style="margin-left:200px"></canvas>
<div class="container">
		{% for d in countries %}
		<h1>{{d}}</h1>
	{% endfor %}	
</div>

{% endblock %}
